extends layout

block cabecal
  link(rel='stylesheet', href='css/imovel_busca.css')
  script(src='js/imovel_busca.js')
  title Busca de Imóveis - #{empresa}

block content
  br
  div(ng-controller='Soteriasoft.Control as ctrl', ng-app='Soteriasoft', style='margin: 0px 20px 0px 10px')
    h2 Busca de Imóveis

    div(layout-gt-sm='row')
      div(layout="row", flex="")
        md-input-container.md-block(flex='')
          label Pesquisar imóveis
          input(ng-model='texto')

        md-button.md-icon-button.launch(onclick="$('#container').toggle();", style='margin-top: 20px',
        title="Mostrar opções avançadas de busca", ng-click='texto=""')
          md-icon(md-svg-icon="img/sort-down.svg")
    
        md-button.md-icon-button.launch(style='margin-top: 20px', title="Buscar imóveis", ng-click='LocalizarTexto()')
          md-icon(md-svg-icon="img/search.svg")

    #container
      div(layout-gt-sm='row')
        div(flex="")
          md-input-container 
            md-radio-group(layout-gt-sm='row', ng-model='tipo')
              md-radio-button.md-primary(value=4) Geminado 
              md-radio-button.md-primary(value=3) Apartamento
              md-radio-button.md-primary(value=2) Casa padrão
              md-radio-button.md-primary(value=1) Terreno
              md-radio-button.md-primary(value=5) Rural          

        div(flex="")
          md-input-container
            label Valor
            input(ng-model='valor', type='number')    

      div(layout-gt-sm='row', style='margin-top: -40px')
        div(flex="")
          md-input-container
            md-checkbox.md-primary(ng-model="mcmv")
              | MCMV

        div(flex="")
          md-input-container
            md-checkbox.md-primary(ng-model="financia")
              | Financiavel

      div(layout-gt-sm='row', style='margin-top: -30px')
        div(flex="")
          md-autocomplete(flex='',
            md-selected-item='pessoa',
            md-min-length='3', 
            md-search-text='SearchPes', 
            md-items='item in PessoaNome(SearchPes)',
            md-floating-label='Proprietario',
            md-item-text='item.nome')
            md-item-template
              span(md-highlight-text='SearchPes') {{item.nome}}

      div(layout-gt-sm='row', style='margin-top: -30px')
        div(flex="")
          md-autocomplete(flex='95',
            md-selected-item='estado',
            md-min-length='1', 
            md-search-text='SearchEst', 
            md-items='item in EstadoNome(SearchEst)',
            md-floating-label='Estado',
            md-item-text='item.nome')
            md-item-template
              span(md-highlight-text='SearchEst') {{item.nome}}
              
        div(flex="")
          md-autocomplete(flex='95',
            md-selected-item='cidade',
            md-min-length='3', 
            md-search-text='SearchCid', 
            md-items='item in CidadeNome(SearchCid)',
            md-floating-label='Cidade',
            md-item-text='item.nome')
            md-item-template
              span(md-highlight-text='SearchCid') {{item.nome}}
      
      div(layout-gt-sm='row', style='margin-top: -30px')
        div(flex="")
          md-autocomplete(flex='95',
            md-selected-item='bairro',
            md-min-length='3', 
            md-search-text='SearchBai', 
            md-items='item in BairroNome(SearchBai)',
            md-floating-label='Bairro',
            md-item-text='item.nome')
            md-item-template
              span(md-highlight-text='SearchBai') {{item.nome}}

        div(flex="")
          md-autocomplete(flex='95',
            md-selected-item='endereco',
            md-min-length='3', 
            md-search-text='SearchEnd', 
            md-items='item in EnderecoNome(SearchEnd)',
            md-floating-label='Endereço',
            md-item-text='item.nome')
            md-item-template
              span(md-highlight-text='SearchEnd') {{item.nome}}

      div(style='margin-top: -30px')
        md-list(flex='', layout='row', layout-align='end center')
          md-list-item
            div
              md-button.md-raised.md-grid-item-content(title="Buscar imóveis", ng-click='Localizar()')
                md-icon(md-svg-icon="img/search.svg")
                | Localizar                
          md-list-item
            div
              md-button.md-raised.md-grid-item-content(onclick="$('#container').toggle();", title="Fechar")
                md-icon(md-svg-icon="img/fechar.svg") 
                | Fechar

    div(layout='row')
      div(flex="") Proprietário
      div(flex="") Inscrição / Incra
      div(flex="") Tipo
      div(flex="") Quadra/Bloco
      div(flex="") Lote/UN

    div(layout='row', ng-repeat="d in l_dados")
      div(flex="") 
        a(href="imovel?codigo={{d.codigo}}", target="_blank") {{d.proprietario}}
      div(flex="") {{d.inscricao_incra}}
      div(flex="") {{d.tipo}}
      div(flex="") {{d.quadra_bloco}}
      div(flex="") {{d.lote_unidade}}                  